
body {
  background-color: gray;
  color:#ffffff;

    background-image: url('./pexels-polina-kovaleva-5717457.jpg');
    /* Replace with the path to your actual image */
    background-size: cover;
}
.App {
  text-align: center;
}
.navbar-brand{ color: #ffffff;
}

